<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles.css">  
    <title>Khabar-Roz-Dar</title>
</head>
<body>
  <div style="display: flex;">
    <header >
      <nav class="navbar" style="display: block; " >
          <h4 class="logo" style="padding: 10px; position: fixed; " >Khabar-Roz-Dar</h4>
          <img src="news.png" style="width: 195px; margin-top: 45px;"> 
          <h6>(Under Development)</h6>
      </nav>
      
  </header>
  
    <div class="container">
      
      <% responseData.forEach(newsItem => { %>
      <a href="<%= newsItem.url %>">
        <div class="card">
          <div class="card-header">
            <img src="<%= newsItem.image %>" alt="city" />
          </div>
          <div class="card-body">
            
            <h4>
              <%= newsItem.title %>
            </h4>
            
            <div class="user">
              <img src="<%= newsItem.image %>" alt="user" />
              <div class="user-info">
                <h5>Source: <%= newsItem.source %></h5>
                <small><%= new Date().toLocaleDateString() %></small>
              </div>
            </div>
          </div>
        </div>
      </a>
      <% }) %>
    </div>
  </div>
  <div class="mobile-message">
    <p>Open this page in the desktop version to view the news.</p>
</div>
</body>
</html>